.side-bar {
  width: 76px;
  height: 100%;
  flex-shrink: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00004cff;
  overflow-x: hidden;
}
.BG {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../logo/BG.svg);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 24px 18px 0px 18px;
}

/* .iconcss:hover {
  filter: invert(39%) sepia(16%) saturate(296%) hue-rotate(183deg)
    brightness(95%) contrast(93%);} */
.CallLog {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ChatIcon {
  width: 22px;
  height: 22px;
  margin: 24px 27px 0px 27px;
  filter: invert(39%) sepia(16%) saturate(296%) hue-rotate(183deg)
    brightness(95%) contrast(93%);
  &:hover {
    filter: invert(79%) sepia(28%) saturate(5937%) hue-rotate(332deg)
      brightness(100%) contrast(92%);
  }
}

.chats {
  color: #e0e0e0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 1px;
  letter-spacing: -0.09px;
}

/* .chatsurl {
  &:visited {
    filter: invert(79%) sepia(28%) saturate(5937%) hue-rotate(332deg)
      brightness(100%) contrast(92%);
  }
  &:active {
    filter: invert(79%) sepia(28%) saturate(5937%) hue-rotate(332deg)
      brightness(100%) contrast(92%);
  }
} */
